<li><label for="item_<%= attribute %>"><%= @resource[:class].human_attribute_name(attribute) %></label>
<%= fckeditor_textarea(:item, attribute, :height => '200', :toolbarSet => "Basic", :disabled => attribute_disabled?(attribute)) %> 